@charset "utf-8";

body {
  background-color: #ffffff;
  margin: 0;
}

header {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  background: rgba(20, 39, 59, 0.8);
}

a {
  text-decoration: none;
}

nav {
  position: absolute;
  right: 0;
  padding: 0 20px;
}

nav a {
  color: rgba(255, 255, 255, 0.8);
}

nav a:hover {
  color: white;
}

nav a.active {
  color: white;
  border-bottom: 2px solid white;
}

li {
  list-style: none;
}

main {
  background-color: #f7f7f7;
}

h3 {
  margin: 1px 0;
}

footer {
  text-align: center;
}

.header-img {
  height: 50px;
  width: auto;
  padding: 12px 10px 10px 15px;
  border-radius: 50%;
}

.title {
  color: white;
}

.header-list {
  display: inline;
  padding: 0 12px;
  font-weight: 500;
  font-size: 1.2rem;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 1rem;
  padding: 1rem;
}

.blog-link {
  display: block;
  color: black;
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 1.0rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.blog-link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.blog-meta {
  color: gray;
}