{% extends "layout.html" %}

{% block title %}トップ{% endblock %}

{% block css %}
    <link rel="stylesheet" href="top.css">
{% endblock %}

{% block content %}
    <meta charset="UTF-8">
    <!-- <h1></h1> --->

    <div class="appframe">
        <h1>フランクフルト</h1>
        <h1>モバイルオーダー</h1>
        <p>Let's eat Frankfurt!</p>
        <!-- a href="./order">スマホで注文</a><p></p -->
        <a href="#">スマホで注文</a><p></p>
        <a href="#">注文状況を確認</a><p></p>
        <a href="#">注文履歴</a><p></p>
        <a href="#">css試験用</a><p></p>
        <a href="styleq.html">css試験用2</a><p></p>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/user/top.js') }}"></script>
{% endblock %}